# Review of Week 1

Print Function and Data Types

In [ ]:
"""
This is a comment
"""

#This is a comment

# Print function

print(5+5)
print("My name is Bob")

print(10/5)

10
My name is Bob
2.0

In [ ]:
print(10*2)

print(2**2)

20
4

# Integers, Floats, & Strings

In [4]:
print('5+5')
print(5+5)

#Integers/Float are stored as numerical values
#Strings are stored as text

type('5')

#Integer functions convert whatever is in them to an integer

int('5')
#int('Hello') # -> This will cause a Value Error in your code!

float('5')

int(5.5231)

print('10+10')

int('10')
str(10)

5+5
10
10+10

'10'

In [7]:
#Using a string in numerical division

5+5

'Bob'+5

TypeError: can only concatenate str (not "int") to str

#**Variables in Python**

In [15]:
#Numerical example of a variable's value

# Variable = Value



letter1 = "Hello"

letter2 = "World"

letter3 = "My"

letter4 = "Name is"

letter5 = "bob"

print(letter1+letter2+letter3+letter4+letter5)

In [16]:

print("hello my name is Bob and my favourite food is pizza")

hello my name is Bob and my favourite food is pizza

In [30]:
"""
Choose any two numbers.
Add them, subtract them, multiply them, and divide them.

Print a message like:
If I have 8 apples and I give away 3, I have 5 apples left!
"""


fruit_1 = 10
fruit_2 = 5
result = fruit_1 - fruit_2


name = "Alex"
age = "10"


#Method 2:
print("My name is {} and my age is {}".format(name,age))

apples = 10
bananas = 20
total_fruit = apples+bananas

# There are 10 apples and 20 bananas and 30 fruit all together

print("There are {} apples and {} bananas and {} fruit all together".format(apples,bananas,total_fruit))

My name is Alex and my age is 10
There are 10 apples and 20 bananas and 30 fruit all together

In [32]:
input_name = input("Enter your name: ")
input_age = input("Enter your age: ")

print("The user's name is {} and their age is {}".format(input_name,input_age))

Enter your name: Bob
Enter your age: 10
The user's name is Bob and their age is 10