#Week 6 Homework Review

In [ ]:
"""Question 3: Start from a Number
Write a for loop using range(3, 7) that prints the numbers from 3 up to 6.
Hint:
The second number in range(start, stop) is not included."""

for i in range(3,7):
  print(i)



"""Question 4: Skip Counting
Write a for loop using range(0, 20, 4) that prints every 4th number starting at 0, but less than 20.
Hint:
This will print numbers like: 0, 4, 8, 12, 16."""

#range(0,20) = (0,1,2,3,4,5,6,7,8,9,10,........,19)
#range(0,20,4) = (0,4,8,12,16)
for i in range(0,20,4):
  print(i)


"""
Question 5: Repeat a Word with a Loop
Write a for loop that prints "Yum!" 5 times.
Hint:
Use range(5) and print("Yum!") inside the loop.
"""
for i in range(5):
  print("Yum!")


"""Question 10: Sum It Up!
Write a program that:
    1. Uses a for loop with range(1, 6)
    2. Adds all the numbers together
    3. Prints the final sum"""

#range(1,6) = (1,2,3,4,5)
#total = 1+2+3+4+5 -> adds all the numbers in range(1,6) = 15
total = 0
for i in range(1,6):
  total = i + total
print(total)

#Functions - Return  Statement

In [ ]:
#Example 1 - Without a variable

def add_numbers(a, b):
    return a + b

result = add_numbers(3, 5)

print(result)  # Output: 8

#Example 2 - With a variable

def add_numbers(a, b):
    result = a + b
    return result

total = add_numbers(3, 5)

print(total)

#For Loops

In [ ]:
#Recall that For Loops only work with with strings, lists, tuples, or range(). It does not work with integers.

#Example 1 - With Strings

for i in "hello":
  print(i)

#How do we read this? We read this by saying, for each ITEM in the string "HELLO", print the ITEM


#Example 2 - With Integer (WILL NOT WORK)
for i in 30:
  print(i)


#Example 3 - With Lists

our_list = [1,2,3,4,5,6]

for i in our_list:
  print(i)

#range() Function

In [ ]:
#Example 1 - Range
#How do we say this? For each item in range 2 (which includes only 0 and 1), print the item.
#range(1) = (0)
#range(1,10) = (1,2,3,4,5,6,7,8,9)
#range(2) = (0,1)
#range(3) = (0,1,2)
#range(4) = (0,1,2,3)
#range(5) = (0,1,2,3,4)

#range(10) = (0,1,2,3,4,5,6,7,8,9)

for i in range(1,10):
  print(i)

#range(start,stop,step)


#range is a list of numbers and it is up to whatever number is in the circle brackets ()
#For example, range(5) will produce a list of numbers like this: (0,1,2,3,4)

#range() Function - With For Loops

In [ ]:

#Example 1 - Range
#How do we say this? For each item in range 2 (which includes only 0 and 1), print the item.

for i in range(2):
    print(i)

#range(2) = 0,1

#Example 2 - range(start,stop,step)
#Notice how the number 10 will not be printed!


for i in range(0, 10):
    print(i)



#Example 3 - range(start,stop,step)

for i in range(0, 10, 1):
    print(i)

#New Python Data Type - Lists

In [ ]:
#Example with numbers:
sequence = [0,100,200]
print(sequence)

#Example with strings:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits)

#Example with both numbers and strings:
mixed = ["dog", 5, "cat", 10]
print(mixed)

# Example 4 - Empty list
empty_list = []
print(empty_list)

**Using Append to Add Items to a List**

In [ ]:
#Example 1 Using append to add items to a list

list = ["lions","tigers","dolphins","elephants"]

print(list)


list.append("cats")

print(list)


#Example 2 Using append with a list of numbers

numbers_list = [10,20,30,40,50]
print(numbers_list)

numbers_list.append(60)

print(numbers_list)

**Using the Index Mechanism**

In [ ]:
#Using index to access a particular item in a list - With Numbers

list = [10,20,30,40,50] # = [0,1,2,3,4]
list[0]
list[4]


#Using index to access a particular item in a list - With Numbers

new_list = ["Red","Blue","Green","Yellow"]

new_list[0] #This will get us the colour Red from out list. This is because Red is at position 0 in our list.

new_list[1] #This will get us the colour Blue from our list. This is because Blue is at position 1 in our list.

#Using Lists in Functions

In [ ]:
# Example 1 - Function that prints all fruits
def show_fruits():
    fruits = ["apple", "banana", "cherry"]
    for fruit in fruits:
        print(fruit)

show_fruits()

# Example 2 - Function with a list as a parameter
def print_colors(colors):
    for color in colors:
        print("I like", color)

print_colors(["red", "blue", "green"])

# Example 3 - Adding numbers in a list
def sum_numbers(numbers):
    total = 0
    for n in numbers:
        total += n
    return total

print(sum_numbers([1, 2, 3, 4, 5]))

# Example 4 - Multiply each number in a list by 2
def double_numbers(numbers):
    for n in numbers:
        print(n * 2)

double_numbers([2, 4, 6, 8])

# Example 5 - Function that says hello to everyone in a list
def say_hello(names):
    for name in names:
        print("Hello", name + "!")

say_hello(["Alice", "Bob", "Charlie"])

# All the Functions with List - We Only Look at **Append** and **Index**

In [ ]:
# Example 1 - Append (add item to end of list)
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

# Example 2 - Insert (add item at specific position)
colors = ["red", "blue", "green"]
colors.insert(1, "yellow")  # insert at index 1
print(colors)

# Example 3 - Remove (delete a specific item)
animals = ["dog", "cat", "rabbit"]
animals.remove("cat")
print(animals)

# Example 4 - Pop (remove item by index, or last item if no index given)
numbers = [10, 20, 30, 40]
numbers.pop(2)  # removes 30
print(numbers)

# Example 5 - Sort (arrange items in order)
scores = [50, 20, 90, 70]
scores.sort()
print(scores)

# Example 6 - Reverse (reverse the order of items)
letters = ["a", "b", "c", "d"]
letters.reverse()
print(letters)


#Example 7 - Index (accessing items in a list)
numbers = [1,2,3]
print(numbers[1])