# Class Activity

In [ ]:
"""Write a function called print_sentence(word, number) that multiplies the word by the number and prints it in a sentence like this:

WowWowWow! That was exciting!

Call the function like this:

print_sentence("Wow", 3)"""

def print_sentence(word,number):
  result = word * number
  print("{}! That was exciting!".format(result))

print_sentence("Wow",3)

#Introduction to For Loops in Python

**For Loops - With Strings**

In [ ]:
#Recall that For Loops only work with with strings, lists, tuples, or range()
#Example 1 - With Strings

for i in "hello":
  print(i)

#How do we read this? We read this by saying, for each ITEM in the string "HELLO", print the ITEM


#Example 2 - With Integer (WILL NOT WORK)
for i in 30:
  print(i)


#Example 3 - With Lists (WE WILL COME BACK TO THIS LATER)

**For Loops - With the range() Function**

In [ ]:
#Example 1 - Range
#How do we say this? For each item in range 2 (which includes only 0 and 1), print the item.

for i in range(2):
    print(i)

#range(2) = 0,1

#Example 2 - range(start,stop,step)
#Notice how the number 10 will not be printed!


for i in range(0, 10):
    print(i)



#Example 3 - range(start,stop,step)

for i in range(0, 10, 1):
    print(i)

**range() Function - Continued**

In [ ]:
#Example 1 - Range
#How do we say this? For each item in range 2 (which includes only 0 and 1), print the item.
#range(1) = (0)
#range(1,10) = (1,2,3,4,5,6,7,8,9)
#range(2) = (0,1)
#range(3) = (0,1,2)
#range(4) = (0,1,2,3)
#range(5) = (0,1,2,3,4)

#range(10) = (0,1,2,3,4,5,6,7,8,9)

for i in range(1,10):
  print(i)

range(start,stop,step)


#range is a list of numbers and it is up to whatever number is in the circle brackets ()
#For example, range(5) will produce a list of numbers like this: (0,1,2,3,4)